.ctnRegister {
  min-width: 300px;
  max-width: 500px;
  awidth: 400px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-select {
  user-select: none;
}

.textField {
  margin-bottom: 1em !important;
  width: 100%;
  margin: 0 !important;
  aalign-items: flex-start;
}

.MuiOutlinedInput-input, .MuiOutlinedInput-multilinea {
  padding: 0.6rem !important;
}

.MuiOutlinedInput-multiline {
  padding: 0 !important;
}

label.MuiFormControlLabel-labelPlacementTop {
  align-items: flex-start;
  margin-bottom: 0.8rem !important;
}

.MuiFormControl-root, .MuiFormControlLabel-root {
  awidth: 100%;
}

.rdt .MuiFormControl-root.MuiTextField-root.form-control, .fullWidth {
  width: 100%;
  amargin-bottom: 1rem;
}

.rdt-datepicker {
  position: relative;
  font-size: 1rem;
}

.criminalRecord {
  display: flex;
  justify-content: space-evenly;
}

.fieldset {
  display: flex;
  border-color: rgba(0, 0, 0, 0.15);
  padding-top: 0.8em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  flex-direction: column;
}

.fieldset > legend {
  font-style: italic;
  padding-left: 12px;
  padding-right: 12px;
}

.fieldset-info {
  margin-bottom: 1.5em;
}

.law {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.5em;
}

.ctnSubmit {
  display: flex;
  margin-top: 1em !important;
  text-align: center;
  amax-width: 15rem;
  padding: 0 2rem;
}

.ctnSubmit .btnSumbit {
  width: 100%;
}

.label {
  margin-left: 1em;
}

.ctnApproval {
  max-width: 800px;
}

.approval {
  apadding: 1em;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.approval .header {
  padding: 1em;
  color: white;
  background-color: #0E8906;
}

.approval .header a {
  color: white;
}

.approval .statement {
  padding: 1em;
}

.approval .buttons {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.approval .btnContainer {
  padding: 0.5em;
}

.approval .btnContainer a {
  text-decoration: none;
}

.approval .btn {
  width: 300px;
}

.approval-radiobuttons {
  padding: 0 1em;
  display: flex;
  justify-content: space-around;
}

.approval-radiobuttons .MuiFormControlLabel-label {
  user-select: none;
}

.ctnConfirmation {
  max-width: 800px;
}

@media (max-width: 576px) {
  .ctnRegister, ctnApproval, ctnConfirmation {
    width: 100%;
    max-width: 100%;
  }
  .ctnSubmit {
    padding: 0 1rem;
    amax-width: 100%;
  }
}

.helper-text {
  margin-left: 14px !important;
  margin-top: -11px !important;
  margin-bottom: 14px !important;
}

.MuiFormControlLabel-label {
  user-select: none !important;
}

.login-message {
  display: flex;
  align-items: center;
}

.login-message .login-message-text {
  margin-left: 0.5em;
}

.App {
  atext-align: center;
}

.App-logo {
  aheight: 40vmin;
  width: 100%;
  pointer-events: none;
}

.App-header {
  abackground-color: #bbb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  afont-size: calc(10px + 2vmin);
  acolor: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.MuiTypography-h6 {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.MuiTable-root th:nth-child(1) div {
  color: #CACACA;
}

